<!--
  Generated template for the ProfilePsgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="bookingPage()">
        <ion-icon name="ios-checkmark"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>
  <div class="background" *ngIf="psychologist">
    <div class="profile">
      <img src="{{psychologist.img}}" />
    </div>
    <!-- Show icon of logged in provider -->
    <h4>
      <span class="name">{{psychologist.name}} </span>
    </h4>
    <p class="gender">{{psychologist.gender}}, 22 tahun</p>
    <!-- Profile Menu -->
    <ion-list *ngIf="psychologist">
      <ion-item>
        <ion-label>Personal Information</ion-label>
      </ion-item>
      <ion-item>
        <h3>Experience</h3>
        <p>{{psychologist.description}}</p>
        <br>
        <h3>Email</h3>
        <p>{{psychologist.email}}</p>
        <br>
        <h3>City</h3>
        <p>{{psychologist.city}}</p>
        <br>
      </ion-item>

    </ion-list>
  </div>
</ion-content>