
<ion-header>

  <ion-navbar>
    <ion-title>Profil Psikolog</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="bookingPage()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>
  <div class="background" *ngIf="psychologist">
    <div class="profile">
      <img src="{{psychologist.img}}" />
    </div>
    <!-- Show icon of logged in provider -->
    <h4>
      <span class="name">{{psychologist.name}} </span>
    </h4>
    <h6 *ngIf="psychologist.gender === 'Male' "> <ion-icon name="male"  class="gender"></ion-icon>{{old}}</h6>
    <h6 *ngIf="psychologist.gender === 'Female' "> <ion-icon name="female" class="gender"></ion-icon>{{old}}</h6>
    <!-- Profile Menu -->
    <ion-list *ngIf="psychologist">
      <ion-item>
        <ion-label>Informasi</ion-label>
      </ion-item>
      <ion-item>
        <h3>Pengalaman</h3>
        <p>{{psychologist.description}}</p>
        <br>
        <h3>Email</h3>
        <p>{{psychologist.email}}</p>
        <br>
        <h3>Domisili</h3>
        <p>{{psychologist.province}}</p>
        <br>
      </ion-item>

    </ion-list>
  </div>
</ion-content>