
<ion-header>

  <ion-navbar>
    <ion-title>Pilih Psikolog</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  padding>
  <ion-row>
    <ion-col col-6>
      <span>{{ sessionByDay }}</span>
    </ion-col>
    <ion-col class="right" col-6>
      <ion-icon name="md-people"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="allSession != null">
    <ion-col class="btn-session" col-6>
      <span (click)="showSession()" *ngIf="session == 'noSession'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;{{warning}} <ion-icon name="arrow-down"></ion-icon></span>    
      <span (click)="showSession()" *ngIf="session == 'session8'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;08:00-09:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session9'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;09:00-10:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session10'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;10:00-11:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session11'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;11:00-12:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session12'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;12:00-13:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session13'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;13:00-14:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session14'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;14:00-15:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session15'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;15:00-16:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session16'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;16:00-17:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session17'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;17:00-18:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session18'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;18:00-19:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session19'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;19:00-20:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session20'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;20:00-21:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session21'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;21:00-22:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session22'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;22:00-23:00 <ion-icon name="arrow-down"></ion-icon></span>
      <span (click)="showSession()" *ngIf="session == 'session23'">
        <ion-icon name="ios-time-outline"></ion-icon>&nbsp;23:00-24:00 <ion-icon name="arrow-down"></ion-icon></span>
                    
      </ion-col>
    <ion-col *ngIf="session == 'noSession'" class="right" col-6>
      <span>-</span>
    </ion-col>
    
    <ion-col *ngIf="session !== 'noSession'"class="right" col-6>
        <span>{{jumlahpsg}}</span>
    </ion-col>
  
  </ion-row>
  <ion-list class="avatar-list">
    <ion-item detail-push  *ngFor="let psg of psgAva" (click)="viewPsg(psg.userId,psg.old)">
      <ion-avatar item-left><img src="{{ psg.img }}"></ion-avatar>
      <h2>{{psg.name}}</h2>
      <h6 *ngIf="psg.gender === 'Male' "> <ion-icon name="male"  class= "gender"></ion-icon> {{psg.old}}</h6>
      <h6 *ngIf="psg.gender === 'Female' "> <ion-icon name="female" class="gender"></ion-icon> {{psg.old}}</h6>    
    </ion-item>
  </ion-list>
  <div *ngIf="allSession == null" class="empty-list">
    Tidak ada sesi tersedia. Pilih tanggal lain untuk mendapatkan sesi.
  </div>
</ion-content>