<ion-header>

  <ion-navbar>
    <ion-title>Cek Kembali</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="footer">
     
    <button disabled *ngIf="problem == ''" class="btn-pilih" ion-button (click)="showConfirmBooking()">BUAT JADWAL</button>
    <button *ngIf="problem !== ''" class="btn-pilih" ion-button (click)="showConfirmBooking()">BUAT JADWAL</button>
  </div>

  <ion-list *ngIf="psgProfile">
    <ion-item>
      <ion-label stacked>Nama psikolog</ion-label>
      <ion-input disabled value="{{psgProfile.name}}" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Tanggal Konsultasi</ion-label>
      <ion-input disabled value="{{scheduleId}}" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Waktu Konsultasi</ion-label>
      <ion-input  disabled value="{{consultation_time}}" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Masalah Anda <span class="mandatory">*</span> </ion-label>
      <ion-textarea rows="3" ng-trim="false" ng-show="problem.trim()" [(ngModel)]="problem" type="text" placeholder="Cerita singkat tentang masalah anda"></ion-textarea>
    </ion-item>
    <p class="right">{{50 - problem.length}}</p>

  </ion-list>
</ion-content>
